# Reliability analyses

In this demonstration, we shall cover Cronbach's $\alpha$ and how it relates to our psychometric assessments.

What we will be covering:

- What is Cronbach's $\alpha$ conceptually

- Examine the impact of item inter-correlations

- How to remove items and re-analyze $\alpha$

## Loading packages

Continuing our trend, we'll primarily use two packages, the latter of which we will need to first install:

- `tidyverse`

- `psych`

In [1]:
## Install psych package
install.packages("psych")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘mnormt’, ‘GPArotation’

In [3]:
## Load packages
library(tidyverse)
library(psych)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.2     ✔ tibble    3.3.0
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.4
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘psych’


The following objects are masked from ‘package:ggplot2’:

    %+%, alpha

## Data description

Our data for today are based on a real dataset found inside the `psych` package. The `bfi` dataset includes 25 personality items representing the Big Five personality traits (i.e., five items for each trait). We will take a look at the Agreeableness items as our representative items in this demonstration.

**Agreeableness items**

| Item Code   | Item Text                                                                 |
|-------------|---------------------------------------------------------------------------|
| A1   | Am indifferent to the feelings of others (*to reverse code*).                                  |
| A2   | Inquire about others' well-being.                               |
| A3   | Know how to comfort others.                                          |
| A4   | Love children.                    |
| A5   | Make people feel at ease.                |

**Response format:**

All items are scored using the same response scale format from a 1 (low) to 6 (high) scale.

You can actually take the personality assessment by following this link: https://www.sapa-project.org/

In [25]:
## Load data
data(bfi)

## Check out the dataset
head(bfi, n = 10)

      A1 A2 A3 A4 A5 C1 C2 C3 C4 C5 ⋯ N4 N5 O1 O2 O3 O4 O5 gender education age
61617 2  4  3  4  4  2  3  3  4  4  ⋯ 2  3  3  6  3  4  3  1      NA        16
61618 2  4  5  2  5  5  4  4  3  4  ⋯ 5  5  4  2  4  3  3  2      NA        18
61620 5  4  5  4  4  4  5  4  2  5  ⋯ 2  3  4  2  5  5  2  2      NA        17
61621 4  4  6  5  5  4  4  3  5  5  ⋯ 4  1  3  3  4  3  5  2      NA        17
61622 2  3  3  4  5  4  4  5  3  2  ⋯ 4  3  3  3  4  3  3  1      NA        17
61623 6  6  5  6  5  6  6  6  1  3  ⋯ 2  3  4  3  5  6  1  2       3        21
61624 2  5  5  3  5  5  4  4  2  3  ⋯ 1  1  5  2  5  6  1  1      NA        18
61629 4  3  1  5  1  3  2  4  2  4  ⋯ 6  4  3  2  4  5  3  1       2        19
61630 4  3  6  3  3  6  6  3  4  5  ⋯ 3  3  6  6  6  6  1  1       1        19
61633 2  5  6  6  5  6  5  6  2  1  ⋯ 2  4  5  1  5  5  2  2      NA        17

## Data cleaning

We will prepare our data according to what our specific needs are for this demonstration.

- *I* will add a new column representing the composite/total score. This is for item-analysis purposes, you won't need this in your assignment because you did this previously.

- I have an item that requires reverse coding, which is critical to actually reverse code.

**Remember to reverse code items if necessary**

This step is very important for calculating Cronbach's $\alpha$. Remember that $\alpha$ entails calculation of the average correlation between all items. If an item is NOT reverse coded but should be, that negative correlation is going to severely decrease our average item correlations! This is a big issue and will produce very problematic reliability values!

In [28]:
## Remove two items from the dataset
bfiClean <-
  bfi %>%
  select(starts_with("A"), -age) %>%        ## Select agreeableness items
  mutate(A1 = 7 - A1) %>%                   ## Reverse code item 1
  mutate(Total = rowMeans(., na.rm = TRUE)) ## Create total score

## Item analyses: difficulty

You have already done this step. Given a new dataset, it is imparative that I conduct this step to identify potentially issues in our items. These items were already pre-selected and pilot tested so it is not a surprise that these items perform well.

In [29]:
## Item analyses
describe(bfiClean)

      vars n    mean     sd        median trimmed  mad     min max range
A1    1    2784 4.586566 1.4077372 5.0    4.769749 1.48260 1   6   5
A2    2    2773 4.802380 1.1720199 5.0    4.977017 1.48260 1   6   5
A3    3    2774 4.603821 1.3018336 5.0    4.788288 1.48260 1   6   5
A4    4    2781 4.699748 1.4796327 5.0    4.932584 1.48260 1   6   5
A5    5    2784 4.560345 1.2585121 5.0    4.711849 1.48260 1   6   5
Total 6    2800 4.652095 0.8984019 4.8    4.725253 0.88956 1   6   5
      skew       kurtosis    se
A1    -0.8250436 -0.30763947 0.02668007
A2    -1.1242853  1.05483862 0.02225666
A3    -0.9984568  0.44204096 0.02471737
A4    -1.0309428  0.04045252 0.02805779
A5    -0.8472334  0.15890562 0.02385189
Total -0.7583658  0.39546844 0.01697820

## Item analyses: Discrimination

You've already done this step, too. We are looking to see if any items have a problematic relationship with the overall construct. Do scores appreciably discriminate those higher/lower on the construct--operationalized by the total score here. Again, these items were already pilot tested so we have very good items representing the agreeableness domain. These items discriminate well.

In [31]:
## Calculate correlation matrix, emphasizing item-total correlation
cor(bfiClean, use = "pairwise.complete.obs") %>%
  round(2)

      A1   A2   A3   A4   A5   Total
A1    1.00 0.34 0.27 0.15 0.18 0.58
A2    0.34 1.00 0.49 0.34 0.39 0.73
A3    0.27 0.49 1.00 0.36 0.50 0.76
A4    0.15 0.34 0.36 1.00 0.31 0.65
A5    0.18 0.39 0.50 0.31 1.00 0.69
Total 0.58 0.73 0.76 0.65 0.69 1.00

## Cronbach's $\alpha$ "by hand"

We can easily compute Cronbach's $\alpha$ because there are only two elements:

1) The number of items, *N* : 5

2) The average inter-item correlation, $\bar{r}$

Given these two, we have the following formula:

$\alpha = \frac{N \cdot \bar{r}}{1 + (N - 1) \cdot \bar{r}}$

In [35]:
## Let's remove the total score to make the remaining steps easier
AgreeItems <- select(bfiClean, -Total)

## Create the correlation matrix of the items
CorMatrix <- cor(AgreeItems, use = "pairwise.complete.obs") ## THere is missing data so we shall ignore those

## Extract the lower triangle elements (ignore the 1s on the diagonal)
Corrs <- CorMatrix[lower.tri(CorMatrix, diag = FALSE)]

## Display the correlations
Corrs %>% round(2)

 [1] 0.34 0.27 0.15 0.18 0.49 0.34 0.39 0.36 0.50 0.31

In [37]:
## Calculate the average of these correlations
AvgIntItemCor <- mean(Corrs)

## Show the value
AvgIntItemCor %>% round(2)

[1] 0.33

In [39]:
## Calculate alpha
ALPHA <- (5 * AvgIntItemCor) / (1 + (5 - 1) * AvgIntItemCor)

## Show the reliability
ALPHA %>% round(2)

[1] 0.71

## Cronbach's $\alpha$

Luckily, people have written functions to make this a little more convenient for us. Thanks to the `psych` package, *calculating* Cronbach's $\alpha$ is simple. We shall use the `alpha()` function on our dataset.

**Note: Do not include the total score in our data object for calculating $\alpha$. If necessary, use the `select()` function and the minus (i.e., `-`) symbol to remove that column from our data**.

In [40]:
## Use the alpha function
alpha(AgreeItems)

Reliability analysis
Call: alpha(x = AgreeItems)

  raw_alpha std.alpha G6(smc) average_r S/N   ase mean  sd median_r
       0.7      0.71    0.68      0.33 2.5 0.009  4.7 0.9     0.34

    95% confidence boundaries
         lower alpha upper
Feldt     0.69   0.7  0.72
Duhachek  0.69   0.7  0.72

 Reliability if an item is dropped:
   raw_alpha std.alpha G6(smc) average_r S/N alpha se  var.r med.r
A1      0.72      0.72    0.67      0.40 2.6   0.0087 0.0065  0.38
A2      0.62      0.63    0.58      0.29 1.7   0.0119 0.0168  0.29
A3      0.60      0.61    0.56      0.28 1.6   0.0124 0.0094  0.32
A4      0.69      0.69    0.65      0.36 2.3   0.0098 0.0157  0.37
A5      0.64      0.66    0.60      0.32 1.9   0.0111 0.0125  0.34

 Item statistics
      n raw.r std.r r.cor r.drop mean  sd
A1 2784  0.58  0.57  0.38   0.31  4.6 1.4
A2 2773  0.73  0.75  0.67   0.56  4.8 1.2
A3 2774  0.76  0.77  0.71   0.59  4.6 1.3
A4 2781  0.65  0.63  0.47   0.39  4.7 1.5
A5 2784  0.69  0.70  0.59   0.49  4.6 1.3

Non missing response frequency for each item
      1    2    3    4    5    6 miss
A1 0.03 0.08 0.12 0.14 0.29 0.33 0.01
A2 0.02 0.05 0.05 0.20 0.37 0.31 0.01
A3 0.03 0.06 0.07 0.20 0.36 0.27 0.01
A4 0.05 0.08 0.07 0.16 0.24 0.41 0.01
A5 0.02 0.07 0.09 0.22 0.35 0.25 0.01

## Understanding the output from `alpha()`

There is a ton of output here. There are two major parts of this output to focus on:

1) We are using the standardized version of alpha. Under the call (i.e., the code we executed), there is a row with the second value labelled `std.alpha`. This is our standardized alpha. Note that 0.71 is the exact same value we calculated by hand!

2) There is a table of output labelled `Reliability if an item is dropped:`. The 2nd column is `std.alpha`, which is again the standardized version of $\alpha$ that we will examine. These values represent the new reliability if we drop an individual item.

## Interpreting the $\alpha$ output

We can see that dropping item `A1` is the only one that *increases* our reliability. In a vacuum, all else being equal, dropping an item to maintain our reliability is a good thing. That makes it a shorter survey, which can be ideal for humans to respond to.

That being said, we still want to cover the whole construct space. If item A1 is an important and unique element of the agreeableness construct domain that is not represented by other items, *you should keep it*. Going from 5 items and a reliability of .71 to 4 items with a reliability of .72 is such a small benefit that the increased content validity of the 5-item scale is actually preferrable.

In [43]:
## Store all alpha output into an object
AlphaOutput <- alpha(AgreeItems)

## Simplify the output to only show scale-level reliability
summary(AlphaOutput)

Reliability analysis
 raw_alpha std.alpha G6(smc) average_r S/N   ase mean  sd median_r
       0.7      0.71    0.68      0.33 2.5 0.009  4.7 0.9     0.34

In [46]:
## Simplify the output to only show dropping items
AlphaOutput$alpha.drop %>%
  select(std.alpha) %>%
  round(3)

   std.alpha
A1 0.725
A2 0.625
A3 0.613
A4 0.693
A5 0.655